---
permalink: /simple-test/
---
<!DOCTYPE html>
<html>
<head>
  <title>Simple Test</title>
</head>
<body>
  <h1>Simple Test</h1>

  <p>This is a simple test page.</p>

  <h2>Test Data:</h2>
  <pre>{{ testData | dump }}</pre>

  <h2>Schedule Data:</h2>
  <pre>{{ schedule | dump }}</pre>

  <h2>All Available Data Keys:</h2>
  <ul>
  {% for key, value in collections %}
    <li>{{ key }}</li>
  {% endfor %}
  </ul>
</body>
</html>
